<div id="banner">
	<div class="outline"></div>
	<img src="./images/bg.jpg" class="retina" inline>
	
	<div class="frame frame1">
		
	<img src="./images/phone.png" class="retina phone" inline>	
	<img src="./images/logo.png" class="retina logo" inline>	
	<img src="./images/logo_metro.png" class="retina logo_metro" inline>	
	<img src="./images/app.png" class="retina app" inline>	
	<img src="./images/txt.png" class="retina txt" inline>	
	
	<!-- <img src="./images/phone.jpg" class="retina phone" inline>	 -->
		
	</div>
	
</div>